@page
@model indviproject.Pages.ThankYouModel
@{
    ViewData["Title"] = "Habitat";
}
<h2>Thank You!</h2>
<p>@TempData["CompletedMessage"]</p>
<a href="/index">Back to Home</a>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - indviproject - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>